.w1440 {
    max-width: 1380px;
    margin: 0 auto;
}

.chewylogo {
    width: 9rem;
    height: 3rem;
    color: #fff;
}

.navbar {
    background-color: #1c49c2;
}

.searchbar {
    height: 3rem;
}

.form-control {
    font-size: 16px;
}

.chewyblue {
    color: #1c49c2;
}

.signinbtn {
    background-color: #ef6c00;
}

.autoshiplogo {
    width: 130px;
    height: 30px;
}

.termsapplyfont {
    font-size: 10px;
    margin-top: -4px;
}

.learnmorecolor {
    color: #1c49c2;
}

.shopbypet {
    width: 12rem;
    height: 12rem;
}



