.w1440 {
    max-width: 1380px;
    margin: 0 auto;
}

.chewylogo {
    width: 9rem;
    height: 3rem;
    color: #fff;
}

.navbar {
    background-color: #1c49c2;
}

.searchbar {
    height: 3rem;
}

.form-control {
    font-size: 18px;
}

