.w1440 {
    max-width: 1380px;
    margin: 0 auto;
}

.chewylogo {
    width: 9rem;
    height: 3rem;
    color: #fff;
}

.navbar {
    background-color: #1c49c2;
}

.searchbar {
    height: 3rem;
}

.form-control {
    font-size: 16px;
}

.chewyblue {
    color: #1c49c2;
}

.signinbtn {
    background-color: #ef6c00;
}

.autoshiplogo {
    width: 130px;
    height: 30px;
}

.termsapplyfont {
    font-size: 10px;
    margin-top: -4px;
}

.learnmorecolor {
    color: #1c49c2;
}

.shopbypet {
    width: 12rem;
    height: 12rem;
}

.brands {
    width: 13rem;
    height: 13rem;
}

.brandcard {
    border: none;
    box-shadow: 0px 0px 1px 3px rgba(211, 211, 211, 0.3);
}

.petfavorites {
    height: 7rem;
    width: 6rem;
}

.packbtn {
    padding: 10px 40px;
    background-color: #1c49c2;
    font-size: 16px;
}

.pack-font {
    font-size: 14px;
}

.pack-color {
    background-color: #dbebf9;
}

.card {
    height: fit-content;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.img-200px {
    width: 200px;
    height: 200px;
}

.bg-chewyblue {
    background-color: #1c49c2;
}



